project:
  type: website
  output-dir: docs

website:
  title: "Column Comparison"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: cosmo
    toc: true
    code-fold: true
    code-tools: true
    
editor: visual

knitr:
  opts_chunk: 
    dev: "ragg_png"